  <head>
    <meta charset="utf-8">
    <title>SGD 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--[if lt IE 9]>
      /*From http://wordpress.org/support/topic/add-search-box-in-header*/
    <![endif]-->

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap-responsive.css" rel="stylesheet">

    <style>
      body {

        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    	<form method="get" id="searchform" >
    		
		<div><p align="right"><input type="text" size="18" value="" name="name_field" />
		<input type="button" value="Search" onclick="search(this.form)" /></p>
		</div>
		</form>
		

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
