*.class
*.pyc
*.pyo
lit_review/config.py
lit_review/config.py
model_new_schema/config.py
reference/config.py
connection_test/config.py
model_old_schema/config.py
sgd2/config.py
bin
develop
develop-eggs
eggs
parts
SGDBackend.egg-info
src
SGDBackend.egg-info
SGDBackend.egg-info/dependency_links.txt
SGDBackend.egg-info/entry_points.txt
SGDBackend.egg-info/not-zip-safe
SGDBackend.egg-info/PKG-INFO
SGDBackend.egg-info/requires.txt
SGDBackend.egg-info/SOURCES.txt
SGDBackend.egg-info/top_level.txt
sgdbackend/config.py
