*.class
*.pyc
*.pyo
*~
bin
develop
develop-eggs
eggs
parts
.idea
.installed.cfg
.mr.developer.cfg
SGDBackend.egg-info
src/sgd/backend/config.py
src/sgd/convert/config.py
src/sgd/convert/logs/*
src/sgd/convert/data/*
src/sgd/convert/alignments/*
src/sgd/convert/strain_sequences/*
.idea/*
*.pickle
dev_deploy_variables.sh
prod_deploy_variables.sh