*.class
*.pyc
*.pyo
*.DS_Store
bin
develop
develop-eggs
eggs
parts
.idea
.installed.cfg
.mr.developer.cfg
SGDBackend.egg-info
src/sgd/backend/static/js
src/sgd/backend/static/css
src/sgd/backend/static/font-awesome
src/sgd/backend/config.py
src/sgd/convert/config.py
src/sgd/convert/logs/*
src/sgd/convert/data/*
src/sgd/convert/alignments/*
src/sgd/convert/strain_sequences/*
node_modules
.idea/*


